<!DOCTYPE html>
<html>
<head>
  <title>Powerphone</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <link rel="stylesheet" type="text/css" href="/powerphone-admin/bootstrap.css" data-turbo-track="reload"/>
  <link rel="stylesheet" type="text/css" href="/powerphone-admin/admin.css" data-turbo-track="reload"/>
  <%= javascript_importmap_tags('powerphone/admin') %>
</head>

<body>
<div class="container-fluid">
  <%= link_to Rails.application.routes.url_helpers.root_path do %>
    <%= fa_icon_tag('arrow-left') %>
    <%= translate('powerphone.back_to_host') %>
  <% end %>
  <%= render partial: 'powerphone/flashes' %>
  <%= yield %>
</div>
</body>
</html>
